<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <a href="#" onclick="logout()">Logout</a>
    <h1>Welcome to the Dashboard, {{username}}!</h1>
    <p>Email: {{email}}</p>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
