<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Dashboard, {{user.username}}!</h1>
    <p>Email: {{user.email}}</p>
    <a href="#" onclick="logout()">Logout</a>

    <script src="../public/assets/js/app.js"></script>
  </body>
</html>