<h1>{{room.name}}</h1>
<p>Description: {{room.description}}</p>
<p>Created by: {{room.user.username}}</p>

<!-- Chat functionality -->
<div class="chat-section">
    <h2>Chatroom</h2>
    <div id="messages" class="chat-window"></div>
    
    <div class="message-input">
        <textarea id="messageInput" rows="3" placeholder="Type your message..."></textarea>
        <button id="sendMessage" class="send-button">Send</button>
    </div>
</div>

<!-- Including the Socket.io client-side library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
    const socket = io("http://localhost:3001/", { withCredentials: true });
    const roomId = "{{room.id}}";

    function appendMessageToChat(msg) {
        const messagesDiv = document.getElementById('messages');
        const messageElem = document.createElement('div');
        messageElem.className = 'message';
        messageElem.textContent = `${msg.user} at ${msg.timestamp}: ${msg.message}`;
        messagesDiv.appendChild(messageElem);
    }

    function clearMessageInput() {
        document.getElementById('messageInput').value = "";
    }

    socket.on('connect', () => {
        console.log('Successfully connected to the server.');
        socket.emit('join room', roomId);
    });

    socket.on('connect_error', (error) => {
        console.error('Failed to connect to the server:', error);
    });

    document.getElementById('sendMessage').addEventListener('click', function() {
        const messageContent = document.getElementById('messageInput').value;
        if (messageContent.trim() === "") return;  // Don't send empty messages
        console.log('Attempting to send message:', messageContent);
        socket.emit('chat message', messageContent, roomId);
        clearMessageInput();
    });

    document.getElementById('messageInput').addEventListener('keypress', function(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            document.getElementById('sendMessage').click();
        }
    });

    socket.on('chat message', (msg) => {
         console.log("Chat message event triggered on client");
         console.log('Received message from server:', msg);
         appendMessageToChat(msg);
    });
</script>
