<h1>{{room.topic}}</h1>
<p>Description: {{room.description}}</p>
<p>Created by: {{room.User.username}}</p>

<!-- Chat functionality -->
<div class="chat-section">
    <div id="messages">
        <!-- Messages will be populated here -->
    </div>
    
    <div class="message-input">
        <textarea id="messageInput" placeholder="Type your message..."></textarea>
        <button id="sendMessage">Send</button>
    </div>
</div>
