body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column; /* Add this to make sure the main content stretches */
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex; /* Switch from float to flexbox */
    justify-content: space-around; /* Distribute menu items evenly */
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

main {
    flex: 1; /* Ensures that the main content stretches to take available space */
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* This ensures that the footer doesn't shrink if there's a lot of content */
}

.chat-section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

#messages {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-input {
    display: flex;
    flex-direction: column;
}

.message-input textarea {
    flex: 1;
    margin-bottom: 10px;
}
